<a href="https://colab.research.google.com/github/ESHA1101/OOP-assignment-1/blob/main/OOP_Python_Assignments_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=0
b=55.3432
print(a+b)
c='edniw'
print(c)

55.3432
edniw

### Program -1

In [1]:
''' The example below shows how different variables are assigned. 
The same variables are printed '''

#!/usr/bin/python

x = 30              # a whole number                   
f = 3.1415926      # a floating point number              
myName = "OOP using Python"    # a string variable - Camel casing
print(x)
print(f)
print(myName)
combination = myName + " " + myName
print(combination)
sum = f + f
print(sum)

30
3.1415926
OOP using Python
OOP using Python OOP using Python
6.2831852

In [6]:
a='abcdefghijklmnop'
print(a[1+2])

d

### Program -2

In [4]:
# Problem 2     Python strings 
x = "Welcome to OOP Course"
print(x)
print(x[0])       # indexing starts from 0
print(x[1])
s = x[0:3]        # substring 
print(s)
t = x[8:10]     # indexing 
print(t)
s = "My lucky number is %d, what is yours?" % 7          # Combine numbers and text
print(s)
s = "My lucky number is " + str(7) + ", what is yours?"   # alternative method of combining numbers and text
print(s)

Welcome to OOP Course
W
e
Wel
to
My lucky number is 7, what is yours?
My lucky number is 7, what is yours?

In [7]:
s = "My name is Esha"
s = s.replace("Esha","Riya")
print(s)
index = s.find("name")
if "Name" in s:
    print("Name found")
if "name" in s:
    print("found")
print(s,"\n", index)

My name is Riya
found
My name is Riya
 3

### Program -3

In [8]:
# Problem 3 - Use string functions
s = "OOP Course is offered in IIIT DWD"
s = s.replace("OOP","CS")
index = s.find("IIIT DWD")
if "IIIT DWD" in s:
    print("Institute found")
print(s,"\n", index)

Institute found
CS Course is offered in IIIT DWD
 24

In [15]:
a='CS'
b='python'
letters=['w','o','r','d']
word = ''.join(letters)
print(word)
w_o_r_d = '_'.join(letters)
print(w_o_r_d)

word
w_o_r_d

### Program 4

In [9]:
# Problem 4 

# define strings                                                         
firstName = "OOP"
lastName = "Course"
words = ["How","are","you","learning ", "OOP " , "Course","?"]

sentence = ' '.join(words)
print(sentence)

How are you learning  OOP  Course ?

In [23]:
s = "My name is Esha"
words = s.split()        
print(words, len(s)-15)

x = list(words[3])  
print(x)

['My', 'name', 'is', 'Esha'] 0
['E', 's', 'h', 'a']

### Program 5

In [16]:
# Problem 5 
s = "OOP course is easy to Learn"
words = s.split()        # splits sentence into list of words
print(words, len(s))

x = list(words[0])   # splits word in character
print(x)

['OOP', 'course', 'is', 'easy', 'to', 'Learn'] 27
['O', 'O', 'P']

### Program 6

In [24]:
# problem 6

import random

# Create a random floating point number and print it.
print(random.random())

# pick a random whole number between 0 and 10.
print(random.randrange(0,15))

# pick a random floating point number between 0 and 10.
print(random.uniform(0,10))

0.012426153923756011
3
5.555605413822277

In [33]:
import random
print(random.random())
print(random.random())
print(random.random())
print(random.randrange(0,1))
print(random.uniform(0,0.01))

0.4334092268150841
0.44707261659157826
0.5061943754926257
0
0.004172552835149496

### Program 7

In [38]:
# problem 7

#!/usr/bin/env python3

name = input('What is your name? ')
print('Welcome to OOP Course ' + name)

qualification = input('What is your Qualification? ')
print(name + "'s" + ' Educational Qualification  is ' + qualification)

phoneNum = int(input('Give me phone number? '))
print('Phone number is : ' + str(phoneNum))
age=input('What is your age?:')
print('You are '+age+' years old')

What is your name? Esha
Welcome to OOP Course Esha
What is your Qualification? student
Esha's Educational Qualification  is student
Give me phone number? 1287239832649
Phone number is : 1287239832649
What is your age?:19
You are 19 years old

### Program 8

In [43]:
# problem 8    interactive program

#!/usr/bin/env python3

gender = input("Gender? ")

print(gender)
if gender == "male":
    print(" cat is male")
elif gender == "female":
    print("cat is female")
else:
    print("Invalid input")
age = int(input("Age of your cat? "))

if age < 5:
    print("cat age is", age)
else:
    print("Your cat is adult.")

x = 2
if x == 2:
    print('two')
elif x == 3:
    print('three')
elif x == 4:
    print('four')
else:
    print('something else')

Gender? female
female
cat is female
Age of your cat? 2
cat age is 2
two

### Program 9 - Loops

In [47]:
# Problem 9   
#!/usr/bin/env python3
# The first loop will repeat the print function for every item of the list.
# The second loop will do a calculation on every element of the list num and print the result.

city = ['Tokyo','New York','Toronto','Hong Kong']
print('Cities loop:')
for x in city:
    print('City: ' +x)

# problem 10

x = 3                              
while x < 9:
    print(x)
    x = x + 1

Cities loop:
City: Tokyo
City: New York
City: Toronto
City: Hong Kong
3
4
5
6
7
8

### Program 10

In [51]:
# problem 10 - functions without  parameters

def currentYear():
    print('2021')
currentYear()    


def f(x,y):     # with parameters
    return x/y
print(f(3,4))
result = f(3,4)   # return to a variable 
print(result)
print('\n')  # newline


num = [1,2,3,4,5,6,7,8,9]
print('x^2 loop:')
for x in num:
    y = x * (-x)
    print(str(x) + '*' + str(-x) + '=' + str(y))

# Python lists
pythonList = [ "New York", "Los Angles", "Boston", "Denver" ]

print(pythonList)     # prints all elements
print(pythonList[0])  # print first element
print(pythonList[-1])

2021
0.75
0.75


x^2 loop:
1*-1=-1
2*-2=-4
3*-3=-9
4*-4=-16
5*-5=-25
6*-6=-36
7*-7=-49
8*-8=-64
9*-9=-81
['New York', 'Los Angles', 'Boston', 'Denver']
New York
Denver